/* Dark Theme by Skitals */
/* A modification of default-black */
/* v0.7 */
html{font-family:clear-sans;font-size:62.5%;height:100%}
body{font-size:1.3rem;color:#9b9b9b;background-color:#1c1b1b;padding:0;margin:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
@media (max-width:1280px){#template{min-width:1260px;max-width:1260px;margin:0}}
@media (min-width:1281px){#template{min-width:1260px;margin:0 10px}}
@media (min-width:1921px){#template{min-width:1260px;max-width:1920px;margin:0 auto}}
img{border:none;text-decoration:none;vertical-align:middle;-webkit-filter:grayscale(75%);filter:grayscale(75%);}
p{text-align:justify}
p.centered{text-align:left}
p:empty{display:none}
a:hover{text-decoration:underline}
a{color:#576EA0;text-decoration:none}
a.none{color:#9b9b9b}
a.img{text-decoration:none;border:none}
a.info{position:relative}
a.info span{display:none;white-space:nowrap;font-variant:small-caps;position:absolute;top:16px;left:12px;line-height:2rem;color:#9b9b9b;padding:5px 8px;border:1px solid rgba(255,255,255,0.25);border-radius:3px;background-color:rgba(25,25,25,0.95);box-shadow:0 0 3px #303030}
a.info:hover span{display:block;z-index:1}
a.nohand{cursor:default}
a.hand{cursor:pointer;text-decoration:none}
i.spacing{margin-left:-6px}
i.icon{font-size:1.6rem;margin-right:8px;vertical-align:middle}
i.title{margin-right:8px}
hr{border:none;height:1px!important;color:#2b2b2b;background-color:#2b2b2b}
input[type=text],input[type=password],input[type=number],input[type=url],input[type=email],input[type=date],input[type=file],textarea,.textarea{font-family:clear-sans;font-size:1.3rem;background-color:transparent;border:none;border-bottom:1px solid #e5e5e5;padding:4px 0;text-indent:0;min-height:2rem;line-height:2rem;outline:none;width:300px;margin:0 20px 0 0;box-shadow:none;border-radius:0;color:#9b9b9b}
input[type=button],input[type=reset],input[type=submit],button,button[type=button],a.button{font-family:clear-sans;font-size:1.1rem;font-weight:bold;letter-spacing:1.8px;text-transform:uppercase;margin:10px 12px 10px 0;padding:9px 18px;text-decoration:none;white-space:nowrap;cursor:pointer;outline:none;border-radius:4px;border:none;color:#1c1b1b;background:#9b9b9b;background-size:100% 2px,100% 2px,2px 100%,2px 100%}
input[type=checkbox]{vertical-align:middle;margin-right:6px}
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button{-webkit-appearance: none}
input[type=number]{-moz-appearance:textfield}
input:focus[type=text],input:focus[type=password],input:focus[type=number],input:focus[type=url],input:focus[type=email],input:focus[type=file],textarea:focus{background-color:#262626;outline:0}
input:hover[type=button],input:hover[type=reset],input:hover[type=submit],button:hover,button:hover[type=button],a.button:hover{color:#9b9b9b;background:#262626}
input[disabled],textarea[disabled]{color:#9b9b9b;border-bottom-color:#6c6c6c;opacity:0.5;cursor:default}
input[type=button][disabled],input[type=reset][disabled],input[type=submit][disabled],button[disabled],button[type=button][disabled],a.button[disabled]
input:hover[type=button][disabled],input:hover[type=reset][disabled],input:hover[type=submit][disabled],button:hover[disabled],button:hover[type=button][disabled],a.button:hover[disabled]
input:active[type=button][disabled],input:active[type=reset][disabled],input:active[type=submit][disabled],button:active[disabled],button:active[type=button][disabled],a.button:active[disabled]{cursor:default;color:#808080;background:#262626;background-size:100% 2px,100% 2px,2px 100%,2px 100%}
input::-webkit-input-placeholder{color:#486dba}
select{-webkit-appearance:none;font-family:clear-sans;font-size:1.3rem;min-width:166px;max-width:300px;padding:5px 8px 5px 0;text-indent:0;margin:0 10px 0 0;border:none;border-bottom:1px solid #e5e5e5;box-shadow:none;border-radius:0;color:#9b9b9b;background-color:transparent;background-image:linear-gradient(66.6deg, transparent 60%, #9b9b9b 40%),linear-gradient(113.4deg, #9b9b9b 40%, transparent 60%);background-position:calc(100% - 4px),100%;background-size:4px 6px,4px 6px;background-repeat:no-repeat;outline:none;display:inline-block;cursor:pointer}
select option{color:#9b9b9b;background-color:#262626}
select:focus{outline:0}
select[disabled]{color:#9b9b9b;border-bottom-color:#6c6c6c;opacity:0.5;cursor:default}
select[name=enter_view]{margin:0;padding:0;border:none;min-width:95px}
select[name=enter_share]{font-size:1.1rem;padding:0;border:none;min-width:40px;float:right;margin-top:13px;margin-right:20px}
select[name=port_select]{border:none;min-width:54px;padding-top:0;padding-bottom:0}
select.narrow{min-width:76px}
select.auto{min-width:auto}
select.slot{min-width:44rem;max-width:44rem}
input.narrow{width:166px}
input.trim{width:76px;min-width:76px}
textarea{resize:none}
#header{position:absolute;top:0;left:0;width:100%;min-width:1260px;height:91px;z-index:100;margin:0;color:#9b9b9b;background-color:#3f3f3f;background-size:100% 90px;background-repeat:no-repeat}
#header .logo{float:left;margin-left:10px;color:#9b9b9b;width:160px;text-align:center}
#header .logo svg{width:160px;display:block;margin:25px 50px 8px 0;-webkit-filter:grayscale(50%);filter:grayscale(50%);}
#header .block{margin:0;float:right;text-align:right;background-color:3f3f3f;padding:10px 12px}
#header .text-left{float:left;text-align:right;padding-right:5px;border-right:solid medium #1c1b1b}
#header .text-right{float:right;text-align:left;padding-left:5px}
#header .text-right a{color:#9b9b9b}
#header .text-right #licensetype{font-weight:bold;font-style:italic;margin-right:4px}
#title{margin:20px 0 31px 0;padding:8px 10px;clear:both;border-bottom:1px solid #2b2b2b;background-color:#262626;letter-spacing:1.8px}
#title span.left{font-size:1.4rem}
#title span.right{font-size:1.4rem;padding-top:2px;padding-right:10px;float:right}
#title span img{padding-right:4px}
#title.shift{margin-top:-30px}
#menu{position:absolute;top:90px;left:0;width:100%;min-width:1260px;height:4rem;line-height:4rem;padding:0;margin:0;font-size:1.2rem;background-color:#9b9b9b;z-index:101}
#nav-block{overflow:hidden;height:4rem;letter-spacing:1.8px}
#nav-left{float:left}
#nav-right{float:right}
#nav-right #nav-item a{min-width:0}
#nav-right #nav-item a span{display:none}
#nav-block #nav-item,#nav-block #nav-user{float:left;display:block;text-align:center;margin:0}
#nav-block #nav-item .system{vertical-align:middle;padding-bottom:2px;padding-right:4px}
#nav-block #nav-user .probe{margin-left:3px;margin-right:8px}
#nav-block #nav-item a{color:#1c1b1b;background-color:transparent;text-transform:uppercase;font-weight:bold;display:block;padding:0 10px}
#nav-block #nav-item a{text-decoration:none;text-decoration-skip-ink:auto;-webkit-text-decoration-skip:objects;-webkit-transition:all .25s ease-out;transition:all .25s ease-out}
#nav-block #nav-item{position:relative}
#nav-block #nav-item:after{border-radius:4px;display:block;background-color:transparent;content:"";width:32px;height:2px;bottom:7px;position:absolute;left:50%;margin-left:-16px;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out;pointer-events:none}
#nav-block #nav-item:focus:after,#nav-block #nav-item:hover:after{background-color:#3f3f3f}
#nav-block #nav-item.active:after{background-color:#1c1b1b}
#txt-tub1,#txt-tub2,#txt-tub3{color:#9b9b9b}
#clear{clear:both}
#footer{position:fixed;bottom:0;left:0;color:#d4d5d6;background-color:#2b2a29;padding:5px 0;width:100%;height:1.6rem;line-height:1.6rem;text-align:center;z-index:10000}
#statusraid{float:left;padding-left:10px}
#countdown{margin:0 auto}
#copyright{font-family:bitstream;font-size:1.1rem;float:right;padding-right:10px}
.green{color:#4f8a10;padding-left:5px;padding-right:5px}
.red{color:#f0000c;padding-left:5px;padding-right:5px}
.orange{color:#e68a00;padding-left:5px;padding-right:5px}
.blue{color:#486dba;padding-left:5px;padding-right:5px}
.green-text,.passed{color:#4f8a10}
.red-text,.failed{color:#9D5458 !important}
.orange-text,.warning{color:#935800}
.blue-text{color:#576EA0}
.grey-text{color:#606060}
.green-orb{color:#4f8a10}
.grey-orb{color:#c0c0c0}
.blue-orb{color:#576EA0}
.yellow-orb{color:#935800}
.red-orb{color:#ff3300}
.usage-bar{float:left;height:2rem;line-height:2rem;width:14rem;padding:1px 1px 1px 2px;margin:8px 12px;border-radius:3px;background-color:#585858;box-shadow:0 1px 0 #989898,inset 0 1px 0 #202020}
.usage-bar>span{display:block;height:100%;text-align:right;border-radius:2px;color:#9b9b9b;background-color:#808080;box-shadow:inset 0 1px 0 rgba(255,255,255,.5)}
.usage-disk{position:relative;height:1.8rem;background-color:#575757;margin:0;color:#000;}
.usage-disk>span:first-child{position:absolute;left:0;margin:0!important;height:1.8rem;background-color:#787878}
.usage-disk>span:last-child{position:relative;padding-right:4px;z-index:1}
.usage-disk.sys{height:12px;margin:-15px 20px 0 44px}
.usage-disk.sys>span{height:12px;padding:0}
.usage-disk.sys.none{background-color:transparent}
.usage-disk.mm{height:3px;margin:5px 20px 0 0}
.usage-disk.mm>span:first-child{height:3px}
.notice{background:#fff6bf url(../images/notice.png) no-repeat;background-position:60px 50%;color:#1c1b1b;font-size:1.4rem;text-align:left;padding:15px 0 15px 130px;display:block;height:7rem;line-height:7rem;vertical-align:middle;border-top:2px solid #ffd324;border-bottom:2px solid #ffd324}
.notice.shift{margin-top:160px}
.greenbar{background:-webkit-gradient(linear,left top,right top,from(#127a05),to(#17bf0b));background:linear-gradient(90deg,#127a05 0,#17bf0b)}
.orangebar{background:-webkit-gradient(linear,left top,right top,from(#ce7c10),to(#ce7c10));background:linear-gradient(90deg,#ce7c10 0,#ce7c10)}
.redbar{background:-webkit-gradient(linear,left top,right top,from(#941c00),to(#de1100));background:linear-gradient(90deg,#941c00 0,#de1100)}
.graybar{background:-webkit-gradient(linear,left top,right top,from(#949494),to(#d9d9d9));background:linear-gradient(90deg,#949494 0,#d9d9d9)}
table{border-collapse:collapse;border-spacing:0;border-style:hidden;margin:-30px 0 0 0;width:100%;background-color:#191818}
table thead td{padding:7px 0}
table tbody td{padding:5px 0}
table tbody tr.tr_last{background-color:#212121;border-top:1px solid #2b2b2b}
table td.cpu-info{border:1px solid #2b2b2b}
table.disk_status{white-space:nowrap}
table.disk_status td span{margin-left:10px}
table.disk_status thead tr:first-child td{font-size:1.1rem;text-transform:uppercase;letter-spacing:1px;background-color:#262626}
table.disk_status thead tr:last-child{border-bottom:1px solid #2b2b2b}
table.disk_status tr>td{width:8%;padding-left:12px;padding-right:0;white-space:nowrap}
table.disk_status tr>td+td{width:auto}
table.disk_status tr>td+td+td{width:6.5%;text-align:center;padding-left:4px;padding-right:8px}
table.disk_status tr>td+td+td+td{text-align:right;padding-left:0;padding-right:12px}
table.disk_status tr td:last-child{width:4%;padding-right:10px}
table.disk_status tbody tr:nth-child(even){background-color:#212121}
table.disk_status.stats tr>td+td{text-align:left;padding-left:0;padding-right:12px}
table.array_status td{padding:4px 0}
table.array_status tr>td{text-align:left;white-space:nowrap;padding-left:12px;width:30%}
table.array_status tr>td+td{padding-left:2px;width:20%}
table.array_status tr>td+td+td{width:auto}
table.array_status td.line{border-top:1px solid #2b2b2b}
table.array_status.noshift{margin-top:0}
table.settings{margin:0;padding:0}
table.settings td:first-child{width:35%;padding-left:12px}
table.settings.shifted{padding:0;margin-left:0;margin-top:0}
table.settings.shifted td:first-child{padding-left:0}
table.access_list{border-spacing:0;margin-top:10px;border:none}
table.access_list tr:first-child td{font-size:1.1rem;text-transform:uppercase;letter-spacing:1px;vertical-align:middle;text-align:left;border:1px solid #2b2b2b;border-bottom:1px solid #2b2b2b;background-color:#262626}
table.access_list td:first-child{font-weight:normal;width:35%;padding-left:12px}
table.access_list tr:first-child td:first-child{font-weight:normal}
table.access_list tr>td+td{white-space:nowrap}
table.share_status{white-space:nowrap}
table.share_status thead tr:first-child td{font-size:1.1rem;text-transform:uppercase;letter-spacing:1px;background-color:#262626}
table.share_status tr>td{text-align:left;padding-left:12px}
table.share_status tr>td+td{padding-left:0}
table.share_status tr.share_status_size>td{padding-left:40px}
table.share_status tr.share_status_size>td+td{padding-left:15px}
table.share_status tbody tr:nth-child(even){background-color:#212121}
table.share_status tbody tr.alert{color:#f0000c;background-color:#ff9e9e}
table.share_status tbody tr.warn{color:#e68a00;background-color:#feefb3}
table.share_status.share tr td:last-child{width:4%;text-align:right;padding-right:10px}
table.share_status.fixed tr>td+td{min-width:39px;font-size:1.1rem;text-align:center;padding:0}
table.share_status.table{margin-top:36px}
table.share_status.table tr>td{width:50%}
table.share_status.dashboard{float:left;margin:6px 10px 14px 10px;border:1px solid #2b2b2b}
table.share_status.dashboard thead tr:last-child{border-bottom:none}
table.share_status.dashboard thead tr:first-child>td{background-color:transparent;height:4rem;line-height:4rem;font-size:1.6rem;font-weight:bold;letter-spacing:1.8px;text-transform:none;vertical-align:middle}
table.share_status.dashboard tbody tr:nth-child(even){background-color:transparent}
table.share_status.dashboard tbody td{padding-top:5px;padding-bottom:5px}
table.share_status.dashboard tbody.parity_view tr:last-child>td{padding-bottom:20px}
table.share_status.dashboard tbody.array_view tr:last-child>td{padding-bottom:20px}
table.share_status.dashboard tbody.cache_view tr:last-child>td{padding-bottom:20px}
table.share_status.dashboard tbody.extra_view tr:last-child>td{padding-bottom:20px}
table.share_status.dashboard tbody.smb tr:last-child>td{padding-bottom:20px}
table.share_status.dashboard tbody.afp tr:last-child>td{padding-bottom:20px}
table.share_status.dashboard tbody.nfs tr:last-child>td{padding-bottom:20px}
table.share_status.dashboard tr>td:first-child{width:3.5%}
table.share_status.dashboard tr>td:last-child{width:3.5%}
table.share_status.dashboard tr>td{padding-left:4px}
table.share_status.dashboard tr>td.next{border-top:1px solid #2b2b2b}
table.share_status.dashboard td.top{vertical-align:top}
table.share_status.dashboard td.vpn{font-size:1.1rem;font-weight:bold;text-transform:uppercase;letter-spacing:1px}
table.share_status.dashboard td.left{font-size:1.1rem;padding-left:24px}
table.share_status.dashboard td.right{font-size:1.1rem;text-align:right;padding-right:10px}
table.share_status.dashboard td i[class^="icon-"]{font-size:1.6rem;margin-right:8px}
table.share_status.dashboard td i[class^="icon-u-"]{font-size:inherit}
table.share_status.dashboard td i.vpn{font-size:inherit!important;cursor:pointer}
table.share_status.dashboard td span[class^="fa "]{font-size:1.6rem;margin-right:8px}
table.share_status.dashboard td i#mycase[class^="case-"]{font-size:128px}
table.share_status.dashboard td i#mycase[class^="fa "]{font-size:96px}
table.share_status.dashboard td img#mycase{width:auto;max-width:128px;height:auto;max-height:128px}
table.share_status.dashboard td i.chevron{float:right;font-size:1.2rem!important;margin-top:0;margin-right:2px;cursor:pointer;color:#9b9b9b}
table.share_status.dashboard td i.chevron.mt0{margin-top:14px}
table.share_status.dashboard td div.section{display:inline-block;vertical-align:top;margin-left:4px;font-size:1.2rem;font-weight:bold;text-transform:uppercase;letter-spacing:1px}
table.share_status.dashboard td div.section span{font-weight:normal;text-transform:none;letter-spacing:0;white-space:normal}
table.share_status.dashboard td span.info{float:right;margin-right:20px;font-size:1.2rem;font-weight:normal;text-transform:none;letter-spacing:0}
table.share_status.dashboard td span.info.title{font-weight:bold}
table.share_status.dashboard td span.load{display:inline-block;width:38px;text-align:right}
table.share_status.dashboard td span.finish{float:right;margin-right:24px}
table.share_status.dashboard.box1{table-layout:fixed}
table.share_status.dashboard.box1 tbody tr:first-child>td{padding-top:20px}
table.share_status.dashboard.box1 tbody tr:last-child>td{padding-bottom:20px}
table.share_status.dashboard.box1 tr td:nth-child(2){min-width:31%}
table.share_status.dashboard.box1 tr td:nth-child(3){min-width:31%}
table.share_status.dashboard.box1 tr td:nth-child(4){min-width:31%}
table.share_status.dashboard.box1 tr td[colspan="2"]{min-width:62}
table.share_status.dashboard.box1 tr td[colspan="3"]{min-width:93%}
table.share_status.dashboard.box1 tr.last>td{padding-bottom:20px}
table.share_status.dashboard.box1 td i[class^="icon-"]{font-size:32px;vertical-align:top}
table.share_status.dashboard.box1 td i[class^="fa "]{font-size:1rem;vertical-align:super}
table.share_status.dashboard.box1 td span.header{font-size:1.1rem!important;text-transform:uppercase;letter-spacing:1px}
table.share_status.dashboard.box1 td span.text{white-space:normal}
table.share_status.dashboard.box2 thead tr:nth-child(3)>td{font-size:1.1rem;text-transform:uppercase;letter-spacing:1px}
table.share_status.dashboard.box2 tr td:nth-child(2){min-width:20%}
table.share_status.dashboard.box2 tr td:nth-child(3){min-width:18%}
table.share_status.dashboard.box2 tr td:nth-child(4){min-width:18%}
table.share_status.dashboard.box2 tr td:nth-child(5){min-width:18%}
table.share_status.dashboard.box2 tr td:nth-child(6){min-width:19%}
table.share_status.dashboard.box2 tr td[colspan="5"]{min-width:93%}
table.share_status.dashboard.box3 thead tr:nth-child(2)>td{font-size:1.1rem;text-transform:uppercase;letter-spacing:1px}
table.share_status.dashboard.box3 tr td:nth-child(2){min-width:28%}
table.share_status.dashboard.box3 tr td:nth-child(3){min-width:43%}
table.share_status.dashboard.box3 tr td:nth-child(4){min-width:11%}
table.share_status.dashboard.box3 tr td:nth-child(5){min-width:11%}
table.share_status.dashboard.box3 tr td[colspan="4"]{min-width:93%}
@media (max-width:1680px){
 table.share_status.dashboard.box1{width:44%}
 table.share_status.dashboard.box2{width:52%;float:right}
 table.share_status.dashboard.box3{width:52%;float:right}
}
@media (min-width:1681px){
 table.share_status.dashboard.box1{width:28%}
 table.share_status.dashboard.box2{width:34%;float:right}
 table.share_status.dashboard.box3{width:34%;margin-left:20px}
}
[name=arrayOps]{margin-top:12px}
span.error{color:#f0000c;background-color:#ff9e9e;display:block;width:100%}
span.warn{color:#e68a00;background-color:#feefb3;display:block;width:100%}
span.system{color:#1c1b1b;background-color:#9b9b9b;display:block;width:100%}
span.array{color:#49573b;background-color:#bdc4b1;display:block;width:100%}
span.login{color:#d63301;background-color:#ffddd1;display:block;width:100%}
span.lite{background-color:#212121}
span.label{font-size:1.2rem;padding:2px 0 2px 6px;margin-right:6px;border-radius:4px;display:inline;width:auto;vertical-align:middle}
span.cpu-speed{display:block;color:#3b5998}
span.status{float:right;font-size:1.4rem;margin-top:30px;padding-right:8px;letter-spacing:1.8px}
span.status.vhshift{margin-top:0;margin-right:0}
span.status.vshift{margin-top:-18px}
span.status.hshift{margin-right:-20px}
span.diskinfo{float:left;clear:both;margin-top:5px;padding-left:10px}
span.bitstream{font-family:bitstream;font-size:1.1rem}
span.ucfirst{text-transform:capitalize}
span.strong{font-weight:bold}
span.big{font-size:1.4rem}
span.small{font-size:1.2rem}
span.one{margin-left:-16px}
span.two{margin-left:-20px}
span.three{margin-left:-23px}
span.tub{margin-right:8px;font-size:2.4rem;cursor:pointer}
span.score{font-size:1.2rem;color:#1c1b1b;position:absolute}
span.outer{margin-bottom:20px;margin-right:0}
span.outer.solid{background-color:#191818}
span.hand{cursor:pointer}
span.outer.started>img,span.outer.started>i.img{opacity:1.0}
span.outer.stopped>img,span.outer.stopped>i.img{opacity:0.3}
span.outer.paused>img,span.outer.paused>i.img{opacity:0.6}
span.inner{display:inline-block;vertical-align:top}
span.state{font-size:1.1rem;margin-left:7px}
i.padlock{margin-right:8px;cursor:default;vertical-align:middle}
i.nolock{visibility:hidden;margin-right:8px;vertical-align:middle}
i.lock{margin-left:8px;cursor:default;vertical-align:middle}
i.orb{font-size:1.1rem;margin:0 8px 0 3px}
i.mm{display:block;margin-left:45px}
img.img,i.img{width:32px;height:32px;margin-right:10px}
img.icon{margin:-3px 4px 0 0}
img.list{width:auto;max-width:32px;height:32px}
i.list{font-size:32px}
a.list{text-decoration:none;color:inherit}
div.content{position:absolute;top:0;left:0;width:100%;padding-bottom:30px;z-index:-1;clear:both}
div.content.shift{margin-top:1px}
label+.content{margin-top:86px}
div.tabs{position:relative;margin:130px 0 0 0}
div.tab{float:left;margin-top:30px}
div.tab input[id^="tab"]{display:none}
div.tab [type=radio]+label:hover{background-color:transparent;border:1px solid #a3a3a3;border-bottom:none;cursor:pointer;opacity:1}
div.tab [type=radio]:checked+label{cursor:default;background-color:transparent;border:1px solid #ccc;border-bottom:none;opacity:1}
div.tab [type=radio]+label~.content{display:none}
div.tab [type=radio]:checked+label~.content{display:inline}
div.tab [type=radio]+label{position:relative;font-size:1.4rem;letter-spacing:1.8px;padding:4px 10px;margin-right:2px;border-top-left-radius:6px;border-top-right-radius:6px;border:1px solid #6c6c6c;border-bottom:none;background-color:#3c3c3c;opacity:0.5}
div.tab [type=radio]+label img{padding-right:4px}
div.Panel{text-align:center;float:left;margin:0 30px 30px 12px;height:8rem}
div.Panel a{text-decoration:none}
div.Panel span{height:42px;display:block}
div.Panel:hover .PanelText{text-decoration:underline}
div.Panel img.PanelImg{width:auto;max-width:32px;height:32px}
div.Panel i.PanelIcon{font-size:32px;color:#9b9b9b}
div.user-list{float:left;padding:10px;margin-right:10px;margin-bottom:24px;border:1px solid #2f2f2f;border-radius:5px;line-height:2rem;height:10rem;width:10rem;background-color:#262626}
div.user-list img{width:auto;max-width:48px;height:48px;margin-bottom:16px}
div.up{margin-top:-30px;border:1px solid #2b2b2b;padding:4px 6px;overflow:auto}
div.spinner{margin:48px auto;text-align:center}
div.spinner.fixed{display:none;position:fixed;top:50%;left:50%;margin-top:-16px;margin-left:-64px;z-index:10000;}
div.spinner .unraid_mark{height:64px}
div.spinner .unraid_mark_2,div .unraid_mark_4{animation:mark_2 1.5s ease infinite}
div.spinner .unraid_mark_3{animation:mark_3 1.5s ease infinite}
div.spinner .unraid_mark_6,div .unraid_mark_8{animation:mark_6 1.5s ease infinite}
div.spinner .unraid_mark_7{animation:mark_7 1.5s ease infinite}
div.domain{margin-top:-20px}
@keyframes mark_2{50% {transform:translateY(-40px)} 100% {transform:translateY(0px)}}
@keyframes mark_3{50% {transform:translateY(-62px)} 100% {transform:translateY(0px)}}
@keyframes mark_6{50% {transform:translateY(40px)} 100% {transform:translateY(0px)}}
@keyframes mark_7{50% {transform:translateY(62px)} 100% {transform: translateY(0px)}}
pre.up{margin-top:-30px}
pre{border:1px solid #2b2b2b;font-family:bitstream;font-size:1.2rem;padding:4px 6px;overflow:auto}
iframe#progressFrame{position:fixed;bottom:32px;left:0;margin:0;padding:8px 8px 0 8px;width:100%;height:1.2rem;line-height:1.2rem;border-style:none;overflow:hidden;font-family:bitstream;font-size:1.1rem;color:#808080;white-space:nowrap;z-index:-10}
dl{margin:0;padding-left:12px;line-height:2.6rem}
dt{clear:left;float:left;width:35%;font-weight:normal}
dd{margin-bottom:12px;white-space:nowrap}
dd p{margin:0 0 4px 0}
dd blockquote{padding-left:0}
blockquote{width:90%;margin:10px auto;text-align:left;padding:4px 20px;border-top:2px solid #bce8f1;border-bottom:2px solid #bce8f1;color:#3a87ad;background-color:#d9edf7}
blockquote.ontop{margin-top:-20px;margin-bottom:46px}
label.checkbox{display:block;position:relative;padding-left:28px;margin:3px 0;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
label.checkbox input{position:absolute;opacity:0;cursor:pointer}
span.checkmark{position:absolute;top:0;left:6px;height:14px;width:14px;background-color:#2b2b2b;border-radius:100%}
label.checkbox:hover input ~ .checkmark{background-color:#5b5b5b}
label.checkbox input:checked ~ .checkmark{background-color:#ff8c2f}
label.checkbox input:disabled ~ .checkmark{opacity:0.5}
a.bannerDismiss {float:right;cursor:pointer;text-decoration:none;margin-right:1rem;}
.bannerDismiss::before {content:"\e92f";font-family:Unraid;color:#e68a00;}
a.bannerInfo {cursor:pointer;text-decoration:none;}
.bannerInfo::before {content:"\f05a";font-family:fontAwesome;color:#e68a00;}
.switch-button-background{background-color:#323232 !important;}
.switch-button-button{background-color:#9b9b9b !important;}
.switch-button-label.on{color:#9b9b9b !important;}
.switch-button-background.checked{border:1px solid #ccc !important;}
.CodeMirror{background:#BEBBBF !important;border: 1px solid #BEBBBF !important}
.CodeMirror-linenumber{background:#BEBBBF !important;}
.CodeMirror-gutters{border-right:1px solid #9b9b9b !important;background-color:#BEBBBF !important;}
.CodeMirror-vscrollbar::-webkit-scrollbar{background-color:#BEBBBF;}
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb{background-color:#1c1b1b;}
.CodeMirror-vscrollbar::-webkit-scrollbar-track{background-color:#9b9b9b;}
pre::-webkit-scrollbar{background-color:#BEBBBF;}
pre::-webkit-scrollbar-thumb{background-color:#9b9b9b;}
pre::-webkit-scrollbar-track{background-color:#1c1b1b;}
textarea.raw{background-color:#9b9b9b;color:#1c1b1b;}
